pyspark==3.5.1
pandas==2.3.3
missingno==0.5.2
matplotlib==3.10.8
numpy==2.4.4
seaborn==0.13.2
scikit-learn==1.8.0
lightgbm==4.5.0
optuna==4.8.0
plotly==5.24.1
mlflow==3.11.1
psycopg2-binary==2.9.11
boto3==1.42.84
s3fs==2026.3.0
pyarrow==23.0.1
fastapi==0.135.3
httpx==0.28.1
pydantic==2.13.0
cloudpickle==3.1.1
pytest==9.0.3
nannyml==0.13.0
confluent-kafka==2.10.0
uvicorn[standard]==0.34.0
feast
dvc_s3