fastapi==0.110.0
uvicorn[standard]==0.29.0

pandas==2.2.2
numpy==2.2.5
joblib==1.4.2

scikit-learn==1.8.0
lightgbm==4.3.0

pydantic==2.6.4
cloudpickle==3.1.1
mlflow==3.13.0
boto3
pyspark==3.5.2
confluent-kafka==2.10.0